body {margin-left : 3cm;
background-color : grey;
}
section{border : solid 2px;
color : red;
border-radius : 20px;
padding : 0.5cm;
margin : 0.3cm;
}
footer {
font-size : 50%; 
border-top : solid ;
margin-top: 1cm;
padding : 0.3cm;
}
#perso{font-size : 150%;
color : yellow ;
border-color : red;
padding : 1cm;
}
img{float: right;
width: 150px;
margin:1cm;
}
nav{font-size : 80%;
}
nav ol{list-style-type : none;
}
@media (max-width: 400px) {
#nav {margin:0;
padding:0;
}
#nav li {
display:inline;
}
#menuinterne{display:none;
}
}

@media (min-width: 400px) {
#nav {margin:0;
padding:20px 40px 4px 10px;

#nav a:hover 
{
color:rouge;
background:bleu;
}

}
